@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --turqoise: #4D96A9;
    --soft-turqoise: #71c0d4;
    --violet: #855FB1;
    --black: #28283D;
    --gray: #87879D;
    --ligth-blue: #8FE3F9;
    --soft-violet: #D9B8FF;
    --ligth-violet: #B18BDD;
    --white: #FAFAFA;
}

body {
    font-size: 16px;
    line-height: 16px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 900;
    color: var(--black);
    padding: 1.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 900;
    color: var(--black);
}

h3 {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--turqoise);
}

p {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 500;
    color: var(--gray);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1.5rem;
}

.btn {
    padding: 16px;
    border-radius: 29px;
    border: none;
    font-size: 16px;
    font-weight: 900;
    color: var(--white);
    cursor: pointer;
    height: 58px;
}

.primary {
    padding: 16px 40px;
    background-color: var(--turqoise);
}

.primary:hover {
    background-color: var(--soft-turqoise);
}

.primary span {
    color: var(--ligth-blue);
}

.secondary {
    padding: 16px 29px;
    background-color: var(--violet);
}

.secondary:hover {
    background-color: var(--ligth-violet);
}

.secondary span {
    color: var(--soft-violet);
}

.logo {
    margin-bottom: 54px;
}

.logo img {
    width: 119px;
    height: 28px;
}

.faces {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.faces-left {
    width: 100vw;
}

.faces-left img {
    width: 100%;
}

.faces-right {
    display: none;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header p {
    text-align: center;
}

.buttons-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    flex-basis: 132px;
}

.pictures {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px;
    padding: 1.5rem;
}

.pictures picture img {
    border-radius: .5rem;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}

@media only screen and (min-width: 1440px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}
