@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --turqoise: #4D96A9;
    --soft-turqoise: #71c0d4;
    --violet: #855FB1;
    --black: #28283D;
    --gray: #87879D;
    --ligth-blue: #8FE3F9;
    --soft-violet: #D9B8FF;
    --ligth-violet: #B18BDD;
    --white: #FAFAFA;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 900;
    color: var(--black);
}

h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    color: var(--black);
}

h3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--turqoise);
}

p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: var(--gray);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 16px;
    border-radius: 29px;
    border: none;
    font-size: 16px;
    font-weight: 900;
    color: var(--white);
    cursor: pointer;
}

.primary {
    padding: 16px 40px;
    background-color: var(--turqoise);
}

.primary:hover {
    background-color: var(--soft-turqoise);
}

.primary span {
    color: var(--ligth-blue);
}

.secondary {
    padding: 16px 29px;
    background-color: var(--violet);
}

.secondary:hover {
    background-color: var(--ligth-violet);
}

.secondary span {
    color: var(--soft-violet);
}

.logo img {
    width: 119px;
    height: 28px;
}

.faces {
    display: flex;
    justify-content: center;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header p {
    text-align: center;
}

.buttons-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}